


 h2, p { margin: 0; padding: 0; }

h2,{ line-height: 1.5; font-weight: inherit; }

 

p {  font-size: 1.05em; font-weight: 400; color: #555; }



@media only screen and (max-width: 767px) {

        p {  line-height: 1.4;  }

        h2 { font-size: 3em; }
}

@media only screen and (max-width: 575px) {

        body {  font-size: 13px;  }

        h2 { font-size: 2.5em; }
}


section {
        padding: 100px 70px;
}

.heading {
        position: relative;
        text-align: center;
        margin-bottom: 0px;
}

.heading-img {
        height: auto;
        width: 40px;
        margin-bottom: 20px;
}

.story-area {
        position: relative;
        background: #fff;
        
}

@media only screen and (max-width: 992px) {

        .story-bg { width: 200px;  }

        section { padding: 70px 0 40px;  }

        .heading { margin-bottom: 60px;  }
}
@media only screen and (max-width:767px) {

        .story-bg { width: 200px;  }

        section { padding: 60px 0 30px;  }

        .heading { margin-bottom: 50px;  }
}

@media only screen and (max-width: 576px) {

        .heading { margin-bottom: 40px;  }
}



@media only screen and (max-width:992px) {

        .dplay-md-none{ display: none; }
}

@media only screen and (max-width:767px) {

        .dplay-sm-none{ display: none; }
        
        .fntt_gall{
            width:90%;
            left: 5%;

        border-left: 4px solid #fcda9a;
        border-right: 4px solid #fcda9a;   
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 0.9em;
        }
        .gallmve{
            font-size: 0.6em;
                position: relative;
                top:-310px;
            text-align: center;
        }
        .gallmvee{
            font-size: 0.6em;
            position: relative;
            top:10px;
            text-align: center;
        }
        .gall_btn{
            font-size: 1.7em;
            margin-top: 2%;
        }
        .fntt{
            width:130%;
            position: relative;
            right: 30px;
        }
}


.triangle-bottom{
        position: relative;
}

.triangle-bottom:after {
        content: '';
        height: 10px;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        background: url(../images/triangle_bg.png) repeat-x;
        background-size: 26px 10px;
        transform: rotate(180deg); -webkit-transform: rotate(180deg);

}

.triangle-bottomv:after {
        content: '';
        height: 10px;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        background: url(../images/triangle_bg.png) repeat-x;
        background-size: 26px 10px;

}

.triangle-up:after {
        content: '';
        height: 10px;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        background: url(../images/triangle_bg.png) repeat-x;
        background-size: 26px 10px;


}
.triangle-bottom-w{
        position: relative;
}

.triangle-bottom-w:after {
        content: '';
        height: 10px;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        background: url(../images/triangle_bg_black.png) repeat-x;
        background-size: 26px 10px;


}

.triangle-up-w:after {
        content: '';
        height: 10px;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        background: url(../images/triangle_bg.png) repeat-x;
        background-size: 26px 10px;
        transform: rotate(180deg); -webkit-transform: rotate(180deg);


}
.pos-top{ position: absolute; top: 0; left: 0; right: 0;  }
.pos-bottom{ position: absolute; bottom: 0; left: 0; right: 0; }




/* POSITION */

.pos-relative { position: relative; z-index: 1; }

.abs { position: absolute;z-index: 1; }

.abs-tlr { position: absolute; top: 0; left: 0; right: 0; z-index: 1; }

.abs-tbl { position: absolute; top: 0; bottom: 0; left: 0; z-index: 1; }

.abs-tbr { position: absolute; top: 0; bottom: 0; right: 0; z-index: 1; }



.z--1 { z-index: -1; }

.z-1 { z-index: 1; }

.z-10 { z-index: 10; }


/* ALIGNMENT */

@media only screen and (max-width: 767px) {

        .center-sm-text{ text-align: center!important; }

        .left-sm-text { text-align: left !important;}
}


/* BACKGROUND IMAGE */

.img-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
}



.bg-2 {   background: url('http://pixel-industry.com/wordpress/royal-plate/wp-content/uploads/2016/03/spices-left.png') no-repeat center; background-size: 100%; opacity: 1; }

.bg-Dh {   background: url('http://pixel-industry.com/wordpress/royal-plate/wp-content/uploads/2016/03/slide01-11.pngs') no-repeat center; background-size: 100%;  opacity: 1; }

.bg-3 {  background: url('http://pixel-industry.com/wordpress/royal-plate/wp-content/uploads/2016/03/spices-right.png') no-repeat center;  background-size: 100%; opacity: 1; }

.bg-white {  background: #fff; }


/* RESPONSIVE */


/* RESPONSIVE */

.w-20 {
        width: 20% !important;
}
@media only screen and (min-width: 980px) {
  .mb-30{position: relative; left:-50px;}
  .fntt_gall{
    width:60%;
    left: 4%;
    font-size: 0.8em;
    border-left: 4px solid #fcda9a;
        border-right: 4px solid #fcda9a;   
        border-radius: 20px;
        padding-left: 5%;
        padding-right: 5%;
  }

  .gallmve{
    position: relative;
    left: 24%;
  }
  .gallmvee{
    position: relative;
    left: 24%;
  }
  .gall_btn{
    position: relative;
    left: 23%;
    margin-top: 1%;
  }
}

@media only screen and (max-width: 767px) {
 .gin{
     margin-top: 30px;
    margin-bottom: : 30px;
    padding: 10px; 
}
.fntt{
    text-align:justify; 
    }
.article-meta li{
    margin-left: 0%;
font-size: 13px;
    }

.headUs{
    font-size: 50px;
}
.menumob{
    position: absolute; margin-top: 18%; margin-left: 42%; border-top: 2px solid black; border-bottom:  2px solid black; padding: 5px 20px 5px 20px; 
    border-radius: 10px;
    animation: menubtn 8s infinite;
}
@keyframes menubtn {
  0%   {border-color: white;}
  25%  {border-color:orange;}
  50%  {border-color:yellow; }
  75%  {border-color:green;}
  100% {border-color:gold; }
}
.posmw{
position: relative;  margin-top: 40px;
}
.zifza{
    position: absolute; top:740px;
}
.lmao{
    position: relative; height:324px; width:569.600px; background-color: rgba(0,0,0,0.5);
}
.ve{
    display: block;
}
.zigz{
    position: absolute; top:740px;
}
.chkmenu{
     position: relative; color: gold;
        animation: chkmenu 4s infinite;
        top:50px;
}
@keyframes chkmenu {
  0%   {text-shadow: 1px 1px black;}
  25%  {text-shadow: 1px 1px red;}
  50%  {text-shadow: 1px 1px white;}
  75%  {text-shadow: 1px 1px red;}
  100% {text-shadow: 1px 1px white;}
}
.menuF{
        font: 200 40px/1.2 'Merienda One', cursive;
    line-height: 26px;
    font-weight: ormal;
     margin-top: 30px;
    font-style: normal;
    font-size: 2em;
    color: white;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
    
    html, body {
  height: 100%;
}


}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttons:before {
content: '';
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}



.buttons:hover::before, .buttons:focus::before {
  opacity: 1;
}

.buttons::after {
  content: '';
  width: 10px; height: 10px;
  border-radius: 100%;
  border: 0.5px solid gold;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.4s infinite;
}

.buttons:hover::after, .buttons:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}



.menuF{
        font: 200 40px/1.2 'Merienda One', cursive;
    line-height: 26px;
    font-weight: ormal;
     margin-top: 30px;
    font-style: normal;
    font-size: 2em;
    color: ;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.border-frame{  
    background-color: #fff;
    border: 17px solid #131822;
    padding: 125px 80px;
    box-shadow: 0 0 18px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 18px 7px rgba(0, 0, 0, 0.3);
}

.pt-80 {
    padding-top: 80px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}
.custom-col-padding {
    padding: 275px 0 195px 0 !important;
}
svg[Attributes Style] {
    x: 0px;
    y: 0px;
}
.custom-heading.style-1 span, .custom-heading.style-2 span, .menu-item-price p {
    font-family: 'Montez', cursive;
    text-transform: none;
}
.divider.style-2 {
    width: 240px;
    text-align: center;
}

.divider .divider-svg {
    width: 23px;
    height: 30px;
    margin-left: 4px;
}
.divider-svg {
    display: inline-block;
}
.divider.style-2.center {
    margin: 0 auto 0 auto;
}
.custom-heading.style-1 span, .custom-heading.style-2 span, .menu-item-price p {
    font-family: 'Montez', cursive;
    text-transform: none;
}
.page-content.dark .divider .hr-double:before{
    background-color: #fcda9a;
}
.page-content.dark .divider .hr-double:after{
    background-color: #fcda9a;
}
.divider .hr-double.left:before {
    position: absolute;
    content: "";
    width: 76px;
    height: 1px;
    left: 17px;
    top: 14px;
}
.divider .hr-double.left:after {
    position: absolute;
    content: "";
    width: 93px;
    height: 1px;
    top: 18px;
    left: 0;
}
.divider .hr-double.right:before {
    position: absolute;
    content: "";
    width: 76px;
    height: 1px;
    right: 17px;
    top: 14px;
}
.divider .hr-double.right:after {
    position: absolute;
    content: "";
    width: 93px;
    height: 1px;
    top: 18px;
    right: 0;
}
.dark .custom-heading.style-1 h2 span{
    color: #fcda9a;
}
.custom-heading.style-1 h2 span {
    font-size: 50px;
}
.custom-heading.style-1 span{
        font-family: 'Montez', cursive;
        text-transform: none;
}
.page-content.dark h2, .custom-background.dark h2{
        color: #fff;
}
.catE {
    font-family: Suranna;
    line-height: 44px;
    font-weight: normal;
    font-style: normal;
    color: #161d27;
    font-size: 44px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
        margin-top: 2%;
    margin-bottom: 15px;
    text-transform: uppercase;
}
@media only screen and (min-width: 998px)
{
    .duo{
        margin-left: 28%;   
    }

    .cont{        
        margin-left: 30%;
    }
    .chkmenu{
     position: relative; color: gold;
     left: 40%;
        animation: chkmenu 4s infinite;
        top:20px;
}
@keyframes chkmenu {
  0%   {text-shadow: 1px 1px black;}
  25%  {text-shadow: 1px 1px red;}
  50%  {text-shadow: 1px 1px white;}
  75%  {text-shadow: 1px 1px red;}
  100% {text-shadow: 1px 1px white;}
}
.menumob{
    position: absolute; margin-top: 4%; margin-left: 50%; border-top: 2px solid black; border-bottom:  2px solid black; padding: 5px 20px 5px 20px; 
    border-radius: 10px;
    animation: menubtn 8s infinite;
}
@keyframes menubtn {
  0%   {border-color: white;}
  25%  {border-color:orange;}
  50%  {border-color:yellow; }
  75%  {border-color:green;}
  100% {border-color:gold; }
}
.posmw{
position: relative;  margin-top: 10px;
}
.lmao{
    position: relative; height:400px; width:100%; background-color: rgba(0,0,0,0.1);
}
.mve{
    position: relative;
    right: 5%
}
.zifzaa{
 display: none;
}

}

.col-md-12{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.custom-heading{
position: relative;
    margin-bottom: 50px;
}
@media only screen and (max-width: 767px) and (min-width: 480px){
.logo {
    display: table;
    margin: 20px auto;
}}
@media only screen and (max-width: 991px) and (min-width: 768px)
.custom-col-padding {
    padding: 140px 0 140px 0!important;
}
.mb-100 {
    margin-bottom: 100px !important;
}
.custom-col-padding {
    padding: 275px 0 195px 0 !important;
}
@media only screen and (max-width: 991px) and (min-width: 768px)
.page-content.image-background {
    background-size: 100% !important;
}
.mb-100 {
    margin-bottom: 100px !important;
}


.custom-background.dark {
    color: #fff;
}
@media only screen and (max-width: 991px) and (min-width: 768px)
.page-content.image-background {
    background-size: 100% !important;
}
.custom-col-padding {
    padding: 275px 0 195px 0 !important;
}
@media only screen and (max-width: 991px) and (min-width: 768px)
.custom-col-padding {
    padding: 140px 0 140px 0!important;
    padding-top: 140px !important;
    padding-right: 0px !important;
    padding-bottom: 140px !important;
    padding-left: 0px !important;
}
.custom-col-padding {
    padding: 275px 0 195px 0 !important;
    padding-top: 275px !important;
    padding-right: 0px !important;
    padding-bottom: 195px !important;
    padding-left: 0px !important;
}
.page-content ul {
    margin-bottom: 25px;
}
.article-meta {
    margin-bottom: 20px;
}

.ulli{
    position: relative;
    margin-top: 5%;
    left: -5%;

}

.article-meta li:before {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 6px;
    content: "\f111";
    display: block;
    top: 0px;
    left: 0px;
}
.article-meta li {
    display: inline-block;
    margin: 0 5px;
    padding-left: 14px;
    font-size: 14px;
    position: relative;
}
.page-content ul li:before{
    color: #fcda9a;
}
.article-meta li{

line-height: 26px;
   font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800em;
   
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.gall_btn{
    color: white;
    background-color: transparent;
    padding: 8px 15px 8px 15px;
    border-color: gold;
    color: gold;
    font-weight: 800px;
    border-radius: 10px;
}
.gallmve{
    
    position: relative;
    top:-310px;

}

.gallmvee{
    
    position: relative;
    top:40px;

}

.footer-widget-container li {
    color: #acb8c4;
    font-size: 14px;
    margin: 2px 0;
}
.backf{
    text-decoration: none; list-style-type:none;
}
.backf li span{
    color: #fcda9a;
}
 .foot{
     width:100%;  position: relative; top:-40px;
     
}
.backf li{
    margin-top: 12px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.vl {
  border-left: 2px solid gold;
  top:18px;
}
hr{
    border: 1px solid gold; width:35%; position: relative;
    border-radius: 20px;
    margin-top: 18px;
}
.pa{ 
    position: relative; top:15px; left: -15px; color: white;
}
.vr{
    border-left: 2px solid gold; position: absolute; height:4px;
    margin-top: -10px;
}
.container1{
    top:40px;
    position: relative;
}
.menumobb{
    border-top: 2px solid black; border-bottom:  2px solid black; padding: 5px 20px 5px 20px; 
    border-radius: 10px;
    position: relative;
    left: -42%;
    animation: menubtn 8s infinite;
}
@keyframes menubtn {
  0%   {border-color: white;}
  25%  {border-color:orange;}
  50%  {border-color:yellow; }
  75%  {border-color:green;}
  100% {border-color:gold; }
}
}