body{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;

  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.middle{
  position: absolute;
  top: 78%;
  width: 100%;
  transform: translateY(-50%);
}
.counting-sec{
  padding: 1px 1px;
  width: 100%;
 background-image: linear-gradient(to left, rgba(255,0,0,0.2), rgba(0,0,0,0.5));
 border-radius:2px;
}
.inner-width{
  max-width: 1200px;
  margin: auto;
  display: flex;

}
.fnt{
  font: 50 15px/1.5 'Merienda One', Helvetica, sans-serif;
  color: white;

}
.col{
  flex: 1;
  text-align: center;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
}
.col i{
  font-size: 40px;
  color: rgba(212, 160, 15,1);
}
.num{
  font-size: 30px;
  font: 200 30px/1.2 'Merienda One', Helvetica, sans-serif;
  color: white;
  text-shadow: 3px 3px 3px #ba8b0b;
  margin: 1px 0px;
}
