body {
	margin:0;
	padding: 0;

}

#particles-js {
	position: absolute;
	height: 100vh;
	background: transparent; 
	width: 100%;
	height: 100%;
    position:fixed;
    top:0;  
    right:0;
    bottom:0;
    left:0;
    z-index:1;
}